* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom right,
    rgb(251, 181, 50),
    rgb(246, 131, 42),
    rgb(232, 105, 37),
    rgb(201, 78, 89),
    rgb(183, 68, 123),
    rgb(155, 82, 178)
  );
  row-gap: 1rem;
}
.result {
  display: flex;
  column-gap: 1rem;
  margin-left: -12rem;
}
.result button {
  border-radius: 0.5rem;
  width: 5rem;
  background-color: #000;
  color: #fff;
  font-weight: bolder;
  font-size: 22px;
}
button.disabled {
  color: gray;
}
.moves,
.timer {
  color: #fff;
  font-weight: bolder;
  font-size: 22px;
}
.ribbon-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.ribbon {
  background-color: #ffcc00;
  color: #fff;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.card .front-view img {
  width: 80px;
}

.card .back-view img {
  width: 80px;
}

.container {
  height: 500px;
  width: 500px;
  background: linear-gradient(
    to bottom right,
    rgb(26, 26, 217),
    rgb(183, 68, 123),
    rgb(201, 78, 89),
    rgb(251, 181, 50),
    rgb(246, 131, 42),
    rgb(232, 105, 37)
  );
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.cards,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card {
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
  cursor: pointer;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
}
.cards .card .view {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  position: absolute;
  transition: transform 0.25s linear;
  backface-visibility: hidden;
  pointer-events: none;
  user-select: none;
}
.card .back-view {
  transform: rotateY(-180deg);
}
.card.flip .back-view {
  background-color: #fff;
  transform: rotateY(0);
}
.card.flip .front-view {
  transform: rotateY(180deg);
}
